[submodule "integrations/specs/compute-api-spec"]
	path = integrations/specs/compute-api-spec
	url = git@gitlab.com:nunet/open-api/compute-api-spec.git
[submodule "integrations/specs/data-persistence-api-spec"]
	path = integrations/specs/data-persistence-api-spec
	url = git@gitlab.com:nunet/open-api/data-persistence-api-spec.git
