[Unit]

Description=Nomad Client
Documentation=https://nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

[Service]

ExecReload=/bin/kill -HUP $MAINPID
ExecStart= /usr/bin/nomad agent -config /etc/nunet/clientV2.json
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=5
StartLimitBurst=3
StartLimitIntervalSec=10
TasksMax=infinity

[Install]

WantedBy=multi-user.target
